<!DOCTYPE html>
{% extends "/layouts/base.html" %}

<html>

<head>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>

</head>
{% block body %}
<body>
<div class="px-3">
    <input id="search" type="search" placeholder="Search" aria-label="Search">
</div>
<script>
    const search = document.getElementById('search');
    const google = 'https://www.google.com/search?q=site%3A+';
    const site = 'https://dajicoders.tk/';

    function submitted(event) {
        if (event.key === 'Enter') {
            event.preventDefault();
            const url = google
                + site
                + '+'
                + search.value;
            const win = window.open(url, '_blank', [showAddAnotherPopup =(1) ]);
            win.focus();
        }
    }
    search.addEventListener('keypress', submitted);
</script>
</body>
{% endblock %}
</html>