<!DOCTYPE html>
<html lang="en">
{% extends "layouts/base.html" %}

{% block body %}
<head>
    <meta charset="UTF-8">
    <title>About Isabelle</title>
</head>
<body>
    <h1>About Me</h1>
    <p>I'm Isabelle, and I'm a sophomore at Del Norte High School. I like snails.</p>
    <button><a href="https://docs.google.com/document/d/1LDHFMI3j1qDKWwgjiuCrH2cgK1KQCoKsQF3OOdGBvIw/edit">My Pair Share Journal!</a></button>
    <img src="/static/assets/images/isabellemasked.jpg" id="myImg" width="300" height="300">
    <input type="button" onclick="changeImg()" value="Click Here" />
    <script type="text/javascript">
        function changeImg() {
            var image = document.getElementById('myImg');
            if (image.src.match("/static/assets/images/isabellemasked.jpg")) {
                image.src = "/static/assets/images/isabelleunmasked.jpg";
            }
            else {
                image.src = "/static/assets/images/isabellemasked.jpg";
            }
        }
    </script>
</body>
</html>

{% endblock %}